@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
body{
	font-family: 'Lora';
}
section{
	padding: 100px 0 70px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.title-box{
	text-align: center;
	text-transform: uppercase;
	position: relative;
	margin-bottom: 60px;
}
.title-box:after{
	content: '';
	width: 50px;
	height: 3px;
	position: absolute;
	bottom: -20px;
	left: calc(50% - 25px);
	background-color: #30ADDD;
}
.section-title{
	margin-top: 0;
}
.section-subtitle{
	/*margin-bottom: 0;*/
}

.c-table{
	width: 100%;
	height: 100%;
	display: table;
	text-align: center;
}
.ct-cell{
	color: #fff;
	display: table-cell;
	vertical-align: middle;
}

.overlay-light, .overlay-dark{
	position: relative;
}
.overlay-light div, .overlay-dark div{
	z-index: 2;
}
.overlay-light:after, .overlay-dark:after{
	top: 0;
	left: 0;
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
}
.overlay-light:after{
	background-color: rgba(255, 255, 255, 0.8);
}
.overlay-dark:after{
	background-color: rgba(0, 0, 0, 0.5);
}

.img-full{
	width: 100%;
}








/**********************
		Header
**********************/
.header{
	background-image: url(icons/back.jpg);
	height: 100vh;
	position: relative;
}
.intro-box{
	height: 80vh;
}
.intro h1{
	position: relative;
	color: #fff;
	font-size: 90px;
	text-transform: uppercase;
	line-height: 1;
}
.intro h1:after, .intro h1:before{
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
	height: 5px;
	background-color: #fff;
}
.intro h1:after{
	bottom: 0;
}
.intro h1:before{
	top: 0;
}
.btn-header{
	position: absolute;
	bottom: 100px;
	text-transform: uppercase;
	font-size: 12px;
	padding: 12px 50px;
	left: calc(50% - 89px);
	border-radius: 0;
}
@media (max-width: 991px){
	.btn-header{
		bottom: 30px;
	}
}








/*Footer*/
.footer{
	background-color: #10182D;
	padding-top: 20px;
	padding-bottom: 10px;
	color: #969595;
}

.footer .footer-social {
  font-size: 24px;
}
.footer .footer-social a {
  color: #969595;
  margin: 8px;
}
@media (min-width: 768px){
	.footer .footer-social{
		float: right;
	}
}
@media (max-width: 767px){
	footer, .subscribe{
		text-align: center;
	}
}
