* {
    padding: 0px;
    margin: 0px
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

body {
    background-image: url(icons/back.jpg);
    background-repeat: no-repeat;
}

video {
    display: block;
	margin-top:0%;
	margin-left: 17px;
}

.alignvideo{
    display: inline-block;
    /*border: 2px solid black;*/
    width: 65%;
	
}
.alignmenu{
    display: inline-block;
    /*border: 2px solid black;*/
    width: 30%;
    vertical-align:top;
}

audio {
    display: block;
    margin: 0 auto;
    padding: 50px;
}

h1#header-audio{
    text-align: center;
}

header {
    height: 68px;
    width: 100%;
    position: fixed;
    top: 0px;
    margin: 0px;
    z-index: 10;
}

.header a:link {
    color: #696969;
    background: #696969;
}

/* .dropbtn {
    background-color: #2629ee;
    color: white;
    padding: 16px 10px;
    font-size: 30px;
    border: none;
    cursor: pointer;
    font-weight: 700;
}

.dropdown {
    position: relative;
    display: inline-block;
    padding: inherit;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #146ab0;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-size: 25px;
    font-weight: 700;
}

.dropdown-content a {
    color: black;
    padding: 14px;
    text-decoration: none;
    display: block; 
}

.dropdown-content a:hover {
    background-color: #0b5999;
    color: #ffffff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #105791;
}

ul{
    list-style-type: none;
} */
/*---------------------------Barra de navegacion---------------------------------*/
nav{
    font-size: 20px;
    font-family: Arial;
    font-weight: bold;
    text-align: center;
}

nav ul{
    list-style: none;
    padding: 0;
    width: 100%;
}

nav li{
    line-height: 3rem;
    position: relative;
}

.menu ul{
    position: absolute;
}

nav a{
    color: #ddd;
    display: block;
    padding: 0 1em;
    text-decoration: none;
}

nav a:hover{
    background: #06047E;
}

/*---------------------------PRIMER NIVEL------------------------------------*/
.menu{
    background: #0300CF;
    display: table;
    width: 100%;
}

.menu > li{
    display: inline-block;
}

.menul{
	background: #0300CF;
    display: table;
    width: 100%;
}

/*---------------------------SEGUNDO NIVEL------------------------------------*/
nav li li{
    background: #160BA7;
    max-height: 0;
    overflow: hidden;
    width: 200px;
}

nav li:hover > ul > li{
    /*max-height: 50px;*/
    overflow: visible;
    display: table;
}

.menu > li > ul{
    top: 100%;
}

/*---------------------------TERCER NIVEL------------------------------------*/
nav li li li{
    width: 150px;
}

.menu ul ul{
    left: 100%;
    top: 0;
}

.menu ul .left{
    left: -75%;
    top: 0;
}

.menu ul .moreleft{
    left: -150%;
    top: 0;
}

.menu ul .right{
    left: 175%;
    top: 0;
}

.menu ul .audioup{
    /* left: 100%; */
    top: -400%; 
}

/*---------------------------CUARTO NIVEL------------------------------------*/
/* .menu ul ul .nav_table{
    display: table;
} */
/*---------------------------Barra de navegacion---------------------------------*/
.hidetoggle {
    padding-left: 20px;
}

.metroCont {
    padding-top: 40px;
    display: none;
}

.pianoCont {
    display: none;
}

.piano {
    padding: 1% 1%;
}

.key {
    display: inline-block;
    position: relative;
    margin: 0 2px;
    width: 3%;
    max-width: 18px;
}

.key:active .black-key,
.key.active .black-key {
    top: -5px;
}

.key .white-key {
    background: -webkit-linear-gradient(-30deg, #f8f8f8, #ffffff);
    background: -moz-linear-gradient(-30deg, #f8f8f8, #ffffff);
    background: -o-linear-gradient(-30deg, #f8f8f8, #ffffff);
    background: linear-gradient(-30deg, #f8f8f8, #ffffff);
    box-shadow: inset 0 1px 0px #ffffff, inset 0 -1px 0px #ffffff, inset 1px 0px 0px #ffffff, inset -1px 0px 0px #ffffff, 0 4px 3px rgba(0, 0, 0, 0.7), inset 0 -1px 0px #ffffff, inset 1px 0px 0px #ffffff, inset -1px -1px 15px rgba(0, 0, 0, 0.5), -3px 4px 6px rgba(0, 0, 0, 0.5);
    display: block;
    height: 90px;

}

.key .white-key:active,
.key .white-key.active {
    box-shadow: inset 0 1px 0px #ffffff, inset 0 -1px 0px #ffffff, inset 1px 0px 0px #ffffff, inset -1px 0px 0px #ffffff, 0 4px 3px rgba(0, 0, 0, 0.7), inset 0 -1px 0px #ffffff, inset 1px 0px 0px #ffffff, inset -1px -1px 15px #000000, -3px 4px 6px rgba(0, 0, 0, 0.5);
    position: relative;
    top: -5px;
    height: 85px;
}

.key .black-key {
    content: "";
    box-shadow: inset 0px -1px 2px rgba(255, 255, 255, 0.4), 0 2px 3px rgba(0, 0, 0, 0.4);
    background: linear-gradient(-20deg, #222222, #000000, #222222);
    border-width: 1px 3px 8px;
    border-style: solid;
    border-color: #666 #222 #111 #555;
    height: 50px;
    position: absolute;
    top: 0px;
    width: 60%;
    right: -80%;
    z-index: 10;
}

.key .black-key:active,
.key .black-key.active {
    border-bottom-width: 3px;
    top: 0;
}

/*-------------------------------------Metronomo---------------------------------*/
#bpm{
    background-color: blue;
    margin: 0 0 10px 0;
    text-align: center;
    color: white;
    font-family: 'Arial';
}
#metronome{
    background-color: white;
    margin-left: 17px;
    width: 25%;
    padding: 10px;
}
input[type=range] {
  -webkit-appearance: none;
  position: relative;
  width: 80%;
  left: 10%;
  margin: 8.5px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: blue;
  border-radius: 0;
  border: 0px solid rgba(0, 0, 0, 0);
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0.5px rgba(0, 0, 0, 0.26), 0px 0px 0px rgba(13, 13, 13, 0.26);
  border: 0.6px solid #000000;
  height: 27px;
  width: 14px;
  border-radius: 10px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: blue;
}
#Play{
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
    position: relative;
    display: block;
}